service cloud.firestore {
  match /databases/{database}/documents {
    function ownerOf() {
      return root.child('users/'+request.auth.uid+'/accountAddress').val()
             == resource.data.owner;
    }
    function userOf(uid) {
      return request.auth.uid == uid;
    }
    function requestOf(req,uid) {
      return root.child('requests/'+req+'/uid').val() == uid;
    }
    function signedIn() {
      return request.auth.uid != null;
    }
    match /tokens/{token} {
      allow read;
      allow update: if signedIn(); //todo ownerOf()
      allow delete: if signedIn(); //todo ownerOf()
    }
    match /requests/{req} {
      allow read;
      allow update: if signedIn(); //todo requestOf()
    }
    match /users/{user} {
      allow read: if signedIn();
      allow update: if signedIn() && userOf(user);
      allow create: if signedIn();
    }
    match /documents/{doc} {
      allow read: if signedIn();
      allow update: if signedIn();
      allow create: if signedIn();
    }
  }
}
