service cloud.firestore {
  match /databases/{database}/documents {
    function ownerOf() {
      return request.auth.uid == resource.data.owner_uid;
    }
    function userOf(uid) {
      return request.auth.uid == uid;
    }
    function signedIn() {
      return request.auth.uid != null;
    }
    match /tokens/{token} {
      allow read;
      allow delete: if ownerOf();
    }
    match /requests/{request} {
      allow read;
      allow delete: if signedIn();
    }
    match /users/{user} {
      allow read: if signedIn();
      allow update: if signedIn() && userOf(user);
      allow create: if signedIn();
    }
  }
}
